{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static 'js/progress.js' %}"></script>
<div class='progress' id="progress_div">
  <div class='bar' id='bar1'></div>
  <div class='percent' id='percent1'></div>
</div>
<title>{{ title }}</title>
 </head>
 <body>
   <h1 id="title">Muhammad Nadhirsyah Indra</h1>
   <div id="accordion">
     <h3 id="acc">Aktivitas</h3>
     <div>
       <ul>
         <li>Staff Medis PMB 2018</li>
         <li>Staff Konsumsi SIWAK-NG 2018</li>
       </ul>
     </div>
     <h3 id="acc">Organisasi</h3>
     <div>
       <ul>
         <li>FUKI Fasilkom UI 2018</li>
       </ul>
     </div>
     <h3 id="acc">Prestasi</h3>
     <div>
       <ul>
         <li>--</li>
       </ul>
     </div>
   </div>
   <button type="submit" id="themes">Change theme</button>
   <input type="hidden" id="progress_width" value="0">
   <button onclick="location.href='{% url 'buku' %}'" type="button" class="btn btn-danger">Daftar Buku</button>
{% endblock %}
