{% extends 'navbar.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
         <p class="display-4">Hello, {{ user.username }}</p>
<a href="{% url 'logout' %}">Logout</a>
  
{% else %}
    <p class="display-4">Hello, </p>
 <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
  <p>Your Favorite Books</p>
  <span id="counter_fav" class="new badge font-size-30">0</span></div>
<table class="table" style="align-content: center; align-items: center; text-align: center;">
  <thead>
    <tr>
      <td scope="col"><h3>Favorited</h3></td>
      <th scope="col"><h3>Title</h3></th>
      <td scope="col"><h3>Author</h3></td>
      <td scope="col"><h3>Cover</h3></td>
    </tr>
  </thead>
  <tbody id="books">
  </tbody>
  <script src="{%static "js/list_buku.js"%}"></script>


{% endblock %}
