body {
  background-color: #d1d8e0;
}

#title {
  font-size: 60px;
  text-align: center;
  color: black;
}

.accordion {
    background-color: black;
    color: white;
    /*cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;*/
    text-align: left;
    /*outline: none;
    font-size: 15px;
    transition: 0.4s;*/
}

/*.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}*/

.panel {
    padding: 0 18px;
    background-color: #9b59b6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#acc {
  background: black;
  color: white;
  font-size: 25px;
  padding: 10px;
}

li {
  color: black;
} .progress
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #F2F2F2;
}
.bar
{
  background-color: #819FF7;
  width:0%;
  height:5px;
  border-radius: 3px;
}
.percent
{
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}
.grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% auto auto;
}

.grid-item  {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}
